* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  h1 {
    text-align: center;
  }

  .normalGameDiv {
    .table {
      //height: 100px;
      width: 100%;
      outline: solid 1px;
      padding-top: 100px;
      padding-left: 30px;
      padding-bottom: 100px;
      @L: 30px;
      @M: 5px;
      background-color: #313335;

      .tableLine {
        height: @L;
        margin-bottom: @M;
        //outline: solid 1px;
        .tableBox {
          outline: solid 1px #505a5a;
          width: @L;
          height: @L;
          margin-left: @M;
          float: left;
          transition: all 0.2s;
          position: relative;

          .block {
            width: 100%;
            height: 100%;
            z-index: 2;

            &:hover {
              //transform: scale(1.15);
              cursor: pointer;
            }
          }
          // 死亡特效
          .shrink {
            position: absolute;
            width: @L;
            height: @L;
            left: 0;
            top: 0;
            border-radius: 50%;

            z-index: 1;
            animation-name: blockBoom;
            //animation-duration: 1s; // in js
            animation-fill-mode: forwards;

          }

          .air {
            background-color: #323232;
          }


          .wall {
            background-color: transparent;
            border-radius: 20%;
            outline: none;

            &:hover {
              cursor: not-allowed;
            }
          }


          .playerBlock {
            border-radius: 50%;

            &:hover {
              cursor: auto;
            }
          }
        }


      }

    }
  }
}
