* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
body h1 {
  text-align: center;
}
body .normalGameDiv .boardShakeFx {
  animation-name: littleShake;
  animation-fill-mode: forwards;
}
body .normalGameDiv .table {
  width: 100%;
  outline: solid 1px;
  padding-top: 100px;
  padding-left: 30px;
  padding-bottom: 100px;
  background-color: #d3a969;
}
body .normalGameDiv .table .tableLine {
  height: 30px;
  margin-bottom: 0;
}
body .normalGameDiv .table .tableLine .tableBoxShakeFx {
  animation-name: small;
  animation-fill-mode: forwards;
}
body .normalGameDiv .table .tableLine .tableBoxHover {
  outline-width: 3px;
  z-index: 4;
  transform: scale(1.5);
}
body .normalGameDiv .table .tableLine .tableBox {
  width: 30px;
  height: 30px;
  margin-left: 0;
  float: left;
  transition: all 0.2s;
  position: relative;
}
body .normalGameDiv .table .tableLine .tableBox .block {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  transition: outline-color 0.5s;
  outline-width: 3px;
  outline-color: transparent;
}
body .normalGameDiv .table .tableLine .tableBox .block:hover {
  cursor: pointer;
  outline-style: solid;
}
body .normalGameDiv .table .tableLine .tableBox .bz {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: contain;
}
body .normalGameDiv .table .tableLine .tableBox .bz:hover {
  filter: blur(5px);
}
body .normalGameDiv .table .tableLine .tableBox .littleStone {
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  z-index: 1;
  transition-timing-function: ease-out;
}
body .normalGameDiv .table .tableLine .tableBox .shrink {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  border-radius: 50%;
  z-index: 100;
  animation-name: blockBoom;
  animation-fill-mode: forwards;
}
body .normalGameDiv .table .tableLine .tableBox .putFx {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  border-radius: 50%;
  animation-name: putFx;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
body .normalGameDiv .table .tableLine .tableBox .wall {
  background-color: dimgray;
  border-radius: 20%;
  outline: none;
}
body .normalGameDiv .table .tableLine .tableBox .wall:hover {
  cursor: not-allowed;
}
body .normalGameDiv .table .tableLine .tableBox .fireStone {
  background-color: #ea4040;
  border: solid 3px gold;
  border-radius: 20%;
  outline: none;
}
body .normalGameDiv .table .tableLine .tableBox .fireStone:hover {
  cursor: not-allowed;
}
body .normalGameDiv .table .tableLine .tableBox .fireStoneMoveFx {
  background-color: #ea4040;
  border: solid 3px gold;
  border-radius: 20%;
  outline: none;
  width: 30px;
  height: 30px;
}
body .normalGameDiv .table .tableLine .tableBox .playerBlock {
  border-radius: 50%;
}
body .normalGameDiv .table .tableLine .tableBox .playerBlock:hover {
  cursor: auto;
}
/*# sourceMappingURL=index.css.map */