* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  h1 {
    text-align: center;
  }

  .gameOption {
    height: 100px;
    outline: solid 1px;
    background-color: gray;
  }

  .gameArea {
    margin-top: 10px;
    margin-bottom: 100px;
    outline: solid 1px;

    .divArea {
      outline: solid 1px;
      display: block;
      position: relative;
      margin: 0 auto;

      .box {
        position: absolute;
        @L: 40px;
        width: @L;
        height: @L;
        border-radius: 50%;
        //outline: solid 1px;
        margin-left: -(@L/2);
        margin-top: -(@L/2);

        transition: all 0.5s;
        border: 3px solid transparent;

        &:hover {
          border-color: black;
          cursor: pointer;
        }
      }
    }

    .gameCanvas {
      outline: solid 1px;
      margin: 0 auto;
      display: block;
    }
  }
}
